/* component styles */
/* ---------------- */

.react-typeahead-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  cursor: default;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.react-typeahead-options {
    margin-left: -8px;
}

.react-typeahead-options li[role="option"] {
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.react-typeahead-options li[role="option"][aria-selected="true"] {
  background: #00bcd4;
  color: white;
  font-weight: bold;
}

.react-typeahead-container {
    border: 1px solid #024e6a;
    padding: 5px 8px;
    border-radius: 0px;
    background-color: white;
    margin: 0 auto
}

.react-typeahead-input {
    position: relative;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    outline: none;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    border: none;
}

/* base styles */
/* ----------- */


html {
  background-color: white;
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
  padding-top: 40px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#main {
  max-width: 450px;
  margin:0 auto;
}

h1 {
  color: #00bcd4;
  margin: 0;
}

a {
  color: #00bcd4;
}

ul,
li {
  margin:0px;
}

.headline,
.youtube-icon,
.react-icon {
  display: inline-block;
}

iframe {
  margin: 0 10px;
}


.youtube-icon {
  position: relative;
  top: 10px;
  height: 88px;
  width: 125px;
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAABfCAYAAAAzgY/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGODdGMTE3NDA3MjA2ODExOERCQkVDMzREQUI5OTZGRCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpBOTA3NTU1REYyRDYxMUU1ODA2MkM0RDdFNzI3RDQwNSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpBOTA3NTU1Q0YyRDYxMUU1ODA2MkM0RDdFNzI3RDQwNSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjg3RjExNzQwNzIwNjgxMThEQkJFQzM0REFCOTk2RkQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjg3RjExNzQwNzIwNjgxMThEQkJFQzM0REFCOTk2RkQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7gtwGqAAAExElEQVR42uydW4hVVRjH11wsFTG7iSUxqOMEaZYZQaYGNZqW1kNFUA8ZFFo92EMvRfQilASBERl4KQstL0QJhpeSrKaI8lIQQ0gwZTfClMwkuo39P9c6cmY36zjn1nTW/v3gh3jhDPtbf7+99tr7rN3kqqNFzpDTZYccJYfIEw4Ggyb5p/xZHpAfyi75dzUfWAlXy5vlXDkphAL+f/whu+V2uUV+VO8fOFu+GzoENp67wxjWnA6CkVxQJtYqHItlL0VNTpuXLKo2HMspZPIurzQcL1K83PhCueF4hqLRSWLcT7Fy6+LTrYPYzHafHMESQi75VU6VXxb+oLmfUwvhyC8jQgb6ZR4tFoNz++sgS/gPBIGHsnMQu+H2PnWBImbKrkIHuYl6QIYbC6cY6yKd1AMyWCaaLCDXysnUAzJYJmZZQOzZjqHUAzIMs2xYQDqoBUTosICMSvTgDjq/MgiVc7YFpDXRg1sqbyckVdFauIpJkQucfxbzYrmLsa6Ik1cxqT6B3hJ+/T5cst0rDzPmZXGiOUcHu0ZeKncw7gOnOWfH+4PzN6LukUcYfgISY63zz768RgQISAzrILfJu+SPRIGAxHjF+cXCTZSCgMT4Rd4ROsq3lIOAxLA5iX3X+FVKQUBKdZM75QK6CQEpxdYwN1lNQCDGb/I+OV9+Q0AgxptyglxBQCCG7dzzoLzOFX2xiIBAlnfkFPk8AYFSc5MHnH+e9wABgRjvOf9w79MEBErNTR52/otGXxAQiGHbTV4inyQgEMOezntUXin3ExCIsTeEZKlr8Ec6CUj9sJ0hH5fT5CcEBGLYqeYq+Yj8i4BAjGWyXa4jIBDja+d3rG4YWhmz/4zLnN+P9Ao6CGRrbPOPTxstHHSQ+nO5fMn5m3tcxcApznB+DWR/I4eDDlIfpoWuMSmV8yPUhjPlE3JPKuGgg9SOa5z/Omd7ijNsqJzh8inn7+S2p3iAdJDqusbLcnzq1+hQHiPls6FrjE/9YOkg5TErdI22vBwwHWRg2GsynnP+Pkpbng6cDnJ6bM9y275qTB4Png4S5xy50vlv1Y3JaxHoIP1jb7+wO6+j814IOkhfRodJ6FbCQQfJcotcJc+nFHSQbNfYIN8gHHSQLLaTkH0JeyRRoIMUc6HcLNcTDjpIlrud3whmOMNPBymmLVydrCUcBMQofs3JQvm54+2enGKK+Mr5d/FtkXMYajpIllvlPsJBB4nB6YQOAgQEBj0gTZQBYleCFpBe6gARei0gx6kDRDhuATlEHSDCIQvIXuoAEfZYQGzvcV7DBVksE7stIAddA+/CB3XjY8tGYR1kG/WADCczUVgDsUf8bYuki6gLhLPKVHmk0EHsJcMbqAsENoZM9FlFHSs/k+dSn1xz2PkdGb+z37QU/cUx519tcQM1yjWPyZ2l/sHbzm9Aj/nzrYEkaJzsoVi5syeMfR9id3LtVRYfOL+dI6TP787vmPSvVfXY8yC2U9/1YV4CaWNj3OkqvOVi2zl2036TtdvVYMvOYc5/qZmCpqXtfTK0lq2oM8xLKG5j2xXGsm7Yh78ezl0UvDE8Fsas7GBU8zzqeeEHTg+XR7YSe5YcwrxvULHFzqNhJbQndP1d8qdKPuwfAQYAn/4rU9XrS/QAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-size:contain;
  margin-right:80px;
}

.react-icon {
  position: relative;
  top: 10px;
  height: 88px;
  width: 94px;
  margin-left: 80px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABUCAIAAACEKxdfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpBOTA3NTU2MEYyRDYxMUU1ODA2MkM0RDdFNzI3RDQwNSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpBOTA3NTU2MUYyRDYxMUU1ODA2MkM0RDdFNzI3RDQwNSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkE5MDc1NTVFRjJENjExRTU4MDYyQzREN0U3MjdENDA1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkE5MDc1NTVGRjJENjExRTU4MDYyQzREN0U3MjdENDA1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+a5NzNAAAFuxJREFUeNrEnHlYlFX7x5FsXy1M28z2EjUFlcq1xdwyt65Ag4TIJTXT5LJS00qN0qjMvYVSsy5BCRVBCCxcMBKVlFBQE0UykzSyxbL092m+73t+884Mw8wzOJ4/5nrmmfOc5T73/b2/933OM3VOnToVUEslLy+vuLj4yJEjZ511Vv369Rs3bhwSEnLRRRcFnJ5SXl5eUFCwd+/eQ4cO/fPPP/TYsmXLBx98sNY6OFUb5cMPP2zduvV5551n3/K55557ww03REZGLly48M8//zxVS+XHH3+cMWNGjx49kIXDXOrWrdu8efPExMRa6aiO71oTHh6elJR0zjnnMNbzzz8/MDCQmyzjX3/99csvv1RVVfH1tttui4iIGDly5OWXX265IxTkjTfeSE5OPnz4cJ06dYKCgi688MKzzz6ba1U4fvw4GsQyxMbGvv/++2dYawYMGEAj2A6Tb9iwoX3LjPu6667j/o033sg1d6655pr4+HgLvTDnF154QbZZr169W265hWavuuoq5GLfY4MGDW6//XY65Xr06NFnUmsWLFgQHR19/fXXY0p79uzh86GHHrrjjjtOnDhRVlZWWFhYUlLCNZOR8v/www/oUYsWLSZPnkxND3tJTU19/vnnaQqNu/LKK9HHgwcP/vrrr0gqNDS0VatWjRo1ohrdoVCoKitx7NixioqKjIyMrl27ngGt+f3336+++mrEgSwwchRn8+bN9hWYw5o1a4YPH85i0tFll13GkrLgVObrk08+WSMAIVaqCbZuvfVWNOXiiy/mK5MfP348snCozwBQJYbUpEkTrIw18EVrrItGxnzzzTdj8wwdNamuJvY/YcIEocy1117LDLEsrpHpli1bqntq+/btwcHBegSZsgwyyWnTpv3222/VPYV0qIaA8ABcrFq16gyIBh9B3wyaz+eee67G+vv378dbURnARgVQH13j3ZwrL1my5IILLqCClEWYMmjQINxTjR3FxMSYgT3++OP+Fg3khZUBRFhMvNLOnTs9fDAtLQ1FY9AgFFpz6aWXcg2U2NeZMmUKN7EdKlBNAsrMzPSwiy+//BJrwsAZGAL6+++//Sqa1atXa3qs51133eXVsyCx/NoVV1zB5BGx/fLi4PmKs+MngTeVAV3P2wfjUDR8ItaHpW/atMmvopk7dy6DllGAlBZagLbxrFBcqjFixAgMU+DCTblqiIyFxvv168ezN910E5+LFy+2Nse61vwawMGnuJZG4G1BO2Cuffv23bFjB/aClc2aNUveBwAqLS3lMz09vVu3bhYa15oRryiesDbHQGuPgTV8njx5Uu7AWiOdOnXKz89HKPAdVukGW0Hc0BYgbOPGjdbkQpE7E2XDP/pVNLhPRQNivZZZFcuLguCMfvrpJ00GtsbnN998c+edd1puFg5lVg7+5VfR/PHHH6Zvh6jS2wJPAZiRL/pC/AVw0uz06dN9aZNGjNZoqP4TjYiGIkm8o+U5JCQk4LkhAZdccgma//333yMjyCGhFizRcrMm4DQC8p9oxMckGssam5KSEhcXh59GLpBpPC7UfteuXfK7U6dOnT9/vrWWCUGMgGA3fhWNPKtEA+mw0EJxcTEuFsqHjhw4cIDJrFy5Misri5l899133If1DB06NC8vz0LjGpKG52/RKCDSslhwAYBL586dGTraUVlZCfTCknErMODc3FzEhGURZINi3bt3t9A+bZrhCZL9Jxo5bMEw0/D2cegMT0FnEAph0cyZM42fDgkJgaT9/PPPiA9fXlVV5Xn6whTYgBmeHLn/RKOsFQDMygATXj07ceLEnJwciOKJEyfgY08//TQ82L4CkcGkSZMqKiqOHz8O6ykoKBg1apQFRir/gPb5NV+zbds2sJMFAY+bNm3qbfDFg4qMMavqaj766KMKLIkbuFi6dKnnvYSGhmKMPAjQfPXVV36NoVgQ5gYYy798++23njx1+PBhKiNNJowbIlBQ3PiXU1EeKywsjGpUBoOYKnrkSS/79u1r0KABygKWo5tukjunJYYiPCHqLykpYRAY9vbt25s0aeJcDbrMQFFvyC5oumjRImSBjTB5BIRkIyIisCmx6v+x88BANAvmhmioDLTt2bPn4Ycfjo2NpUecFxFpo0aN5IMcCoOhL4YHGEOpxTMsFIuioTRr1gzrEPdDRrJN1IdwEe8LPdEOEeM7evQo0xNvJjIQ6cBxUA0csd8SsDfznTt3UoeVR314HIHS8rBhw5QAw0XWr18fMQHVqBXaQbAuI6VfEWJgmJvWeaNlsrh161a8CUsH5SNcBnE2bdqEgmh3RbtCyIJFYyYsr1LC8homvcRXVEY3HbQGxeSzjq3oWV3zLPWRL/2C00bjoNSo0j333AMOQpqQKTLKzs6+//77/ao1mzdvTk5OZlUZJeq9e/fur7/+GuUHFFhPFEEIwtDxwQyaNWRKmiEejQsmici4zydgyVctki6EOMxfuMOzTBthcUHjhEUYJrAVFBTE4zxCNW6ivIWFhfIPVGA8uEKuremOd1pDx7B7+iMyBt5QY2XVtMgSBGOSFnATMYG16BEIqigUuYwfP75Tp05IR3CDXPjJQTQ0pfmjGhjUunXrJk+ejHRok/sQRZSCMWCq6oveaQqhyI40JAoIxU3gvEuXLr169VLutTZFw1p9/PHHuM8vvviCsdI9msJQuM8gFDFzfeTIEZaI7m+1FYBQXuzuu+8GhsEFVhV2u2rVKgtryMRWrFhBnAVFRA0JIFgb0AdZg0qlpaVIgQVgYAhaVoa8GBvyxTNyBxlBLMPDw/v06VMLvIZ2X3vtNaOQeAoGx+TNfjMLiBSwLDQIBsFqO7Tw2GOPKb9PHTTcky0BlwXhYq0oi7AW1+Y8VOQVHByMCAwbEjvVBoa2wygs1bvvvusTr3n77bfBV8XZXGj/SN6ExYGSzZ49m6FwrX0FvJJDC1IQoFrtvPfeez4eOlCGVLlkwlGHCoQXDEaei/WbNm0aQYZ29UAo7TIr1c8dLH3hwoVeiyYjI6N169aKsLXBTJfyvujkrFmzYCuqGRUVpc02PqHzDrSQ8QGTojz4Dt9PL7Rr107dYdTICBiy//WVV14xO1A9e/bUTbxVfHx827ZtlSpGiZgOOq50F6iHrnkqmmeeeUZwyPN0oyAb8x46dGh+fr5D5aSkJGXO0Sy6xKTNT1OnThXTV8BVVFTku2jgTdr2p1kuwGb7X1lONEI/zZs3z+HZrKwsFlISkYC0w0l5+eWXaxANcIUdGkzRkQMUZ8yYMRCW6na+qYbSqpv09HSzmQuyIFDacVYoh4KjyczMxF4SExO54KubyqNHj9apFBQZKz548KDub9y4UcZ7ua0wF5eP49cGDhwoGoFxsfbCza5du+JeXYuGyevIgZRFGSDwHM7ifiUHDx5sbIpl0U0YvW4CioQzSoa7jHeeeOIJoEpjFVHka0xMjLFZZ7hFa7S3SX3mqfsiyrrJsN2PGRauXIfaERSibvYCDTD4L7kgFDl/dCE1NdUTJcejawVYRjwId5TBQWnVlLNuq3z22WfKM/EU3WmzhQvt9vK5bNkyNycRWEKljXDb3KQ7HtEkPRw5jATSqI0NmSHKaHTnP6Lp2LGj5CK7AJy0N+RhadmyJUYu26E/SB0XoK9OkLl8hNHL96nTxnaFr9qZVf64uh6BVQH8yJEjqaYZ0iCfnu9zE8e1aNFCgtb4saz/F80777yj37TIeGVv0RHuI4XEu7PscAp0kEnao499ASCYA5NnGqhbY6fCTX6iAnaNDjq38Pnnn0tVKeoUM9TcJkyY4NXgcR1wZUlWSic1D4DFo1RgrXxehw4dLDgOQFeJbloXrVBr7du3d1l/yJAhEmVjt0VTHTRokMtGFDfSEWbFFOgaUEPibk76uCmtWrUSVLEetINYAj/99NPKykpaFwHH/i2weNrq16+fdiAVFmkHBufqXBlitnz5cuAZVuK+WYJGJE58gM9y/vXVV1/V5gH+WLyOKUBnRAi9LWg3fbHGaB/tfPLJJ4Fr164ViyECwklbPqEpB0HsxwqAO/g7VlUQ5lA2bNgAkLEMNYZvVACnGe769eudf23Tpk3v3r0PHDigQF9pIIc0s+cFZY+Li0MISo/l5uYG0rSCZiCzc+fOlhM/oaGh0dHR4AJN46qZEnGGm3S/ywSdi7S+rRrL6PJXeDnGixoyBSbSv39/0WVrBaIPd0ffkTXUIdCsjwJoX3aacZ8nT56kHYCN1k04Vyvnvl3ex45YUeUl+HQ4K+v17ootc6a++Pw3BctMQAcsHy2y3G55eTnRJmpJa6gM3Gns2LEua0pkzpk9l0XVxD6cCwhQUVEBCNApbpFwkVDG8hSys7OxSoAcUfybeDYaCAglJCTodIiFMnfuXNmR8jto0KJFi4jFnWsS6QHbWIFzSth5V18OFE/n/CuUZMGCBTSl7TDRdx32slCwozfffNNsdSKWQOyT79g/Tgq6AV5Y235fvHgxvolFPmErOCBW8qWXXnKuDABD0pkzhu2+WSogQZyO4n6HQuM6r40j044KOguTBCYsTGHAgAESglzEv2kmEyLDC0TSPDnp6lDQZJFGWhDB4Vo7qi5PBuO/mDZIoU5dFn4SlLiMbIkSFQZD0tBQdEcnkgOczpN6UoYPH86DsHCR3tdff/0/bJjl1REoCI8OO+OJvWr6gQceQKVF8yZOnIjqMSWx+Or2JyEOwlElB5wDBfROYYfLx/VyD12AnaywWmNiEDZ4jXOy0c3bD9omBVwUmsL9/ieGQglpFBfIz8pFQEkwZg9zKAjiKluhBZS8qKjIsHgusrKyqovutH8GjioTSOFC5gN2VJeFs48SuNDWLUqKNLXsHp76zMvLa9q0qfRFcqFrs0caYK+i2vRg8XWok3qepCzHjRsnjeNZE5uhRybCdLMpDk5HRkY6QAmS4mZpaWl1TxGyGq287777dPPZZ581SYkePXq4HzPUVAdxGbMJuxmG/dnwAIfXAhTms3pKtXANqc3IyHDTDTPXtiSVzan6wsJCMR3dh/65aQGiCHzi4+bMmUOk4n5ve+bMmbIdDdVg2bZt29BZAAFywBorU+GyfPDBB0IlEIoLZWMYp4OVBDjHxPfee6+WDumYFGGvXr1cvgphkjWgL4KwT5QRFmoZ8YBgCpGa7wlQiLx2e6UdsbGx9r8ycqBH0ybCcs6BIXpYu6wVWWAfSn2Eh4c7nxpwnTanXeVQwR3z8hWFvmndPhWmmEUDBX0dtkcutRX9inf0XTTiFtq6QakdxC2FQjSoT1hYmLkPGGFu8r/Kt9OCzt2gZdUhfYCbd27McSjlUFE8JeXRZIa4dOlSJh8SEgKUSrmc7U4HyEEuCRf49EUu69at02SEtW+99Zbz2w+MTZs/fKakpDAA/Ik2TtFcHkRwouPMZciQIdWlkGs+X7N8+XITcyqXzjxNdK4tIb0/CJK5bAHZCY8hMkjQ8vupOvZg0Le618AwfMPRlG8msEKa8i1CTxQnKioKt1MLLxiuXLkSSp6eng6woyMwdz5hBFBVOmMEXHOnWbNmWhZprGASWXATGs5TOB0MUGrvbXnxxRenTJnCAgA39IhS0yDjwafozAocgpsACuRY2k0AIX0hgtFZSRayb9++IJReQqu14wCIGWa1evVqBgFLRD/BXaWjGAp3oK2KBlEQLJmhw1DRZwytoKCAr0gQZ0Qjffr04ZEaA2V5WWZI3Is6EAcQi7AeSJ9mN2zYwITxG8zcnGbW2Qmd4kMuZWVldAre4Wfx6LA7z987t3K+JjMzk9kyMrws42ANgXdl5DQsrn+3FbFSHWrjJjWP2QoiO9tWEJBaQLICfrRMvJHCTVrgQQR6ia1wk/qoBhLhgskz1XNsRYdugD+aRYgMA+jBH4GYCMXC6zfWjx7l5OTA68BmnQhiGub1GiaJdwSAmLNUw+CF0mZIRyeOdFPZInP0xCSPdGCJT9QBKehxo1CIiaa0BpoF/cpz47l4ZPfu3cCw4iO/HljbtGmTlBY7HzVqFEEdHAfL5ytjYnBou8NB9CtsBWHxKRmxzjo79G/qyCYUIyZmTk1ELNkhI0zJPt2nY2uKLbQxD063b98e0vjII4+gJrSTlpZ2BkSjI/IaN24IcIE42Z8nLykpIcBHQNgdPhIxZWdnYxp4Vh2i4hGqUQcN0okr7V5KOxAfwMGDiAwZcYFSDB48GLMF4GmEx3F5IKtD3odQGdPDxkFDFokFsPbujXXR7N27F6VFmTEcBWn2hcHprIXDMTfiWuBAe9KQnfXr14MaNIJEdBQSXUBSfNJmTEwMAQduGDkePXp0xYoVPXv2rHFgOERUSa/MHzhwALflPJLTeKS6uLgYPgq+goIQDc93CyHTAbY/WtBmmJvcENGzcgUieNBZz4fXu3dv0S4+k5KS/HqkGqajGaLMbk6MuywRERGi84rrXEaeSvHiaETwsBGvuhgzZoy2AANsr6JZm6PFLQSsQLigdya9evajjz4CI1F47RMC4WCQfQVsrXv37vprE20zYUpedSGhq1h4u8Sn1zcYsdkkUmLQ8wKawowAWp1KREDwDvDSGHiXLl3AI8yhqqoKnIYi2k/V8xdvhOt6Ach/ovHxjV20huiUaQOuTBsA7tChgzw9bm7r1q06lI7sxo0bhyf2tn2cgA6lcu1yU/g0ikZHyiUaa+9igZTx8fF4brwsARcWOnDgQAKl5ORkIIyJ4QG7deumlL63BTYkYxdT9yuvqZU3dmGJ+/btmzdvnt4zIPhISUnhGouDOqI4aJa1lhkSCMXwELE4gf9EY8+yatxpc7+xh+IQ08NxlEahNYCTr3Bryy+liIiaDWu/GpQnG9IeFng9BB+D0hyAGDAoKyvLW3S3LzBg4gxUBhkpavWfaOxfZrZszCrTp0/H3+n8nuJJWCxUEAFZbpMhIRqlSpS+8p9o6tWrJ17j5oSHJ2XEiBFjx46FwoDlRI/ICJjAo0NkQkNDrW3RmnMqCvqd/6Pu9IrGvAGgbXlr7h/+Mnv2bGAFuZSVlfFJsAMVxELhyjAdviof7G3Rq2tSam85ka+iEQNGaQEInQD3qqxduxalAFCUV9ZMUlNTiTbDwsIQCm4FAIIiwHd0CtOrAjPSS2UmXPBfeLl//379pRxMnwtz5NuTMmnSJGm7OaMMaTRJbIBTf8yjt3q1sdm3b1/PD+vi4FDAK20FCLN26vGUL38jxnqyMsqqJSQkePIIsVLbtm21bci05YNQE+fjr3FxcSK16I72j6js4U62jj/SPgZl7UCrr6LRWWEdaWjYsKEOOFZXtmzZ0r9/f5NP0RlUrp966ik3B1NUR7sUugae3G9mHTt2LCgoCK3Rmln7PylfRaOXts27Wx07dgQanKtB5yIjI0UuWHnzVgiKs2TJEvddFBUVKQuF5dKL1AdVJchYtmyZ/Vs05n0odFAqw9iwdMD+DIjm1H//JQ5GL8hg2lhWWloa4pg/f/6wYcOaN28uN6GXbABd+XvmVl5e7mEvxBNmE5VGjHMMDg7G9ycmJubk5GCqM2bMkKbcbCtiTL7MzifRAJlaVf2xoHig/UlSwjx8p95d0/G0Nm3aVPfagZuSn5+vs/JyxjSIBpkwoq6tiIjyk1yS72+m+fqnupWVlUDdjh070HmF4ArncEAISKxfaQGEMnjwYL0MZK0g0zlz5qxZs0ZHrbFlvYGqHmWzdHfo0CEUCn7gyx/4WnfeDsd4mLPLUAXpoP9RUVEESqdqqRCgR0dH23NO+xCXJWEwnh9YO41aY8quXbsYdHFxMXrEQIFA/WVAu3btLP+5jvuEUW5uLmwILq7TDnpnpGfPnr78WYJ9+T8BBgBuKgwvasnAdgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: contain;
}

.code-snippet {
  border: 1px solid #dddddd;
  background: #efefef;
  padding: 10px;
}

#search-result-list {
  display: inline-block;
}

.search-result {
  cursor: pointer;
  float: left;
  width: 30%;
  height: 120px;
  padding:0 10px;
  list-style-position: inside;
  list-style-type:none;
}

.search-result img {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

.search-result span {
  font-size: 15px;
  width: 87px;
  height: 74px;
  display: inline-block;
  color: black;
  overflow: hidden;
}